# Spring
spring:
  application:
    name: fsap-flowable
  profiles:
    active: @spring.active.profiles@
    include: eureka,actuator
  # DataSource
  datasource:
    url: jdbc:h2:mem:flowable;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=LEGACY
    username: sa
    password:
    driver-class-name: org.h2.Driver

    # HikariCP
    hikari:
      pool-name: FlowableHikariCP
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      leak-detection-threshold: 60000

  # H2
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: false
        trace: false

  # JPA
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

server:
  port: 8081
  servlet:
    encoding:
      enabled: false
